@keyframes logoAnimation {
  0% {
    width: 25px;
    opacity: 0;
  }
  100% {
    width: 475px;
    opacity: 1;
  }
}

body {
  font-family: 'Poppins', serif;
  background-image: url('path/to/concrete_seamless.png');
  background-color: #f1f1f1;
}
  
#logo {
  animation: logoAnimation 5s forwards;
  position: relative;
  transform-origin: center;
}
 
nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_links a:hover {
  color: #45ADAD;
}

.card > header {
  background: #288088;
  border: 2px solid #45ADAD;
  border-radius: 50px 50px 0 0;
  padding: 20px 0;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pricing {
  min-height: 475px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  margin: 12px;
  display: flex;
  border-radius: 7px;
  padding: 0 0 20px 0;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  flex-direction: column;
  flex-basis: 450px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.gallery img {
  border: 10px solid #50C7C7;
  margin: 10px;
  width: 300px;
  height: 300px;
}  





  